section:nth-child(1) {
    background-image: url("../resources/images/IMG_4832.JPG");
    background-size: cover;
  }

  section:nth-child(1) p {
    width: 50%;
    display: none;
  }  
  
  section:nth-child(2) {
    background: #000000;
  }

  section:nth-child(2) p{
    padding-top: 50px;
    width: 100%;
    display: inline-block;
  } 
  
  footer {
    background-image: url("../resources/bkgnd-footer-about-us-mobile.jpg");
    background-size: cover;
  }

    /*Tablet view styles*/
@media only screen and (min-width: 768px) {

}

/*Desktop view styles*/
@media only screen and (min-width: 992px) {

  section:nth-child(1) {
    background-image: url("../resources/images/IMG_3178.JPG");
    background-size: cover;
  }

  footer{
    background-image: url('../resources/bkgnd-footer-about-us.png');
    background-size: cover;
  }

  section:nth-child(1) p {
    width: 50%;
    display: block;
  }  

  section:nth-child(2) p {
    padding-top: 50px;
    width: 80%;
    display: inline-block;
  }
}
